<IfModule mod_headers.c>
Header set Cross-Origin-Embedder-Policy "require-corp"
Header set Cross-Origin-Opener-Policy "same-origin"
</IfModule>

ErrorDocument 403 /403.php
ErrorDocument 404 /404.php
# ErrorDocument 418 /418.php

# Bloquear acesso às coisas do git
RedirectMatch 404 /\.git.*
RedirectMatch 404 /\.shhhh.*

RewriteEngine on
RewriteCond %{REQUEST_URI} !^/usuarios/perfil\.php$
RewriteRule ^usuarios/([^/]+) /usuarios/perfil.php?username=$1 [L,QSA]

# Requests para /~[pasta]/[path] redirecionam para /projetos/visualizarResto.php?pasta=[pasta]&path=[path]
# Se não houver path, redireciona para /projetos/visualizarResto.php?pasta=[pasta]
RewriteCond %{REQUEST_URI} ^/~([^/]+)(/.*)?$ [NC]
RewriteRule ^~([^/]+)(/.*)?$ /projetos/visualizarResto.php?pasta=$1&path=$2 [L,QSA]
